.topnav {
  overflow: hidden;
  border: 3px solid gray;
}

.topnav a {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 20px 40px;
}

.current {
  background-color: orange;
  color: white;
}

.topnav a:hover {
  background-color: aqua;
  color: black;
}

.topnav .icon {
  display: none;
}	

.icon img{
	border-radius: 0;
}

@media screen and (max-width: 1800px) {
  .topnav a:not(.current) {
	  display: none;
	}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.dropdown {
	  position: relative;
	}
  .topnav.dropdown a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.dropdown.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}